html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.scoreboard, 
.scoreboard tbody {
    width: 100%;
    height: 100%;
}

.scoreboard tbody {
    display: flex;
    flex-direction: column;
}

.scoreboard tr {
    height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.scoreboard tr.tank { background-color: lemonchiffon; }
.scoreboard tr.dps { background-color: bisque; }
.scoreboard tr.support { background-color: honeydew; }
.scoreboard tr.hidden { display: none; }

.scoreboard tr td {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.scoreboard td.role, 
.scoreboard td.badge {
    position: relative;
    width: 40vh;
}

.scoreboard td.role img {
    height: 27vh;
}

.scoreboard td.badge img {
    height: 60vh;
    opacity: 1;
    transition: opacity 1s;
}

.scoreboard td.badge.flipped img {
    opacity: 0;
}

.scoreboard td.badge span {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5vh;
    right: -5vh;
    text-align: center;
    line-height: 33vh;
    font-family: 'Roboto', monospace;
    font-size: 18vh;
    overflow: visible;
    opacity: 0;
    transition: opacity 1s;
}

.scoreboard td.badge.flipped span {
    opacity: 1;
}

.scoreboard td.score {
    flex: 1;
    display: block;
    font-family: 'Share Tech Mono', monospace;
    font-size: 33vh;
    margin-left: 0.2ch;
    border-inline-start: solid black 0.15ch;
}

.scoreboard td.score .mode {
    writing-mode: vertical-lr;
    height: 33vh;
    font-size: 8vh;
    font-weight: bold;
    text-align: center;
    position: absolute;
    transition: opacity 1s;
}

.scoreboard td.score .data {
    display: flex;
    justify-content: center;
    width: calc(100vw - 40vh - 40vh);
    height: 33vh;
    padding-left: calc(0.5ch - 10vh);
    padding-right: 0.5ch;
    position: absolute;
    transition: opacity 1s;
}

.scoreboard td.score.flipped .latest { opacity: 0; }
.scoreboard td.score .total { opacity: 0; }
.scoreboard td.score.flipped .total { opacity: 1; }

/*aspect-ratio is not supported in CEF which is used in BOS Browser Source...*/
/*@media (min-aspect-ratio: 18) {*/
@media (max-height: 100px) {
    .scoreboard tbody {
        flex-direction: row;
        justify-content: center;
    }

    .scoreboard tr {
        height: 100vh;
        width: 33.3vw;
    }

    .scoreboard td.role, 
    .scoreboard td.badge {
        width: 120vh;
    }
    
    .scoreboard td.role img {
        height: 81vh;
    }
    
    .scoreboard td.badge img {
        height: 180vh;
    }

    .scoreboard td.badge span {
        left: -15vh;
        right: -15vh;
        line-height: 100vh;
        font-size: 54vh;
    }
    
    .scoreboard td.score {
        font-size: 100vh;
    }

    .scoreboard td.score .mode {
        height: 100vh;
        font-size: 24vh;
    }

    .scoreboard td.score .data {
        width: calc(33.3vw - 120vh - 120vh);
        height: 100vh;
        padding-left: calc(0.5ch - 30vh);
    }
}