#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 100px; */
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 1000;
    padding: 10px;
    padding-right: 40px;
    display: none;
}

#overlay.show {
    display: block;
}

#overlay .close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    cursor: pointer;
}

#overlay .close span {
    line-height: 32px;
}

#overlay .log {
    height: 100%;
    overflow-x: wrap;
    overflow-y: scroll;
}

#overlay .log p {
    margin: 5px;
}

.container {
    --tank-color: rgb(216, 197, 22);
    --dps-color: tomato;
    --support-color: limegreen;
}

.container {
    min-width: 575px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 54px;
    grid-template-rows: 54px 1fr;
    grid-template-areas:
        "tab        setting"
        "control    control";
}

.setting {
    grid-area: setting;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.setting span {
    line-height: 54px;
    font-size: 45px;
    color: #999;
    cursor: pointer;
}

.role-menu {
    grid-area: tab;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 54px;
    gap: 5px;
}

.role-menu li {
    flex: 1;
    position: relative;
    height: 100%;
}

.role-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 32px;
    padding: 2px;
    border-radius: 15px 15px 0 0;
    border-bottom: none;
}
#menu-tank { background-color: var(--tank-color); }
#menu-dps { background-color: var(--dps-color); }
#menu-support { background-color: var(--support-color); }

.role-menu li input {
    position: absolute;
    top: 18px;
    left: 8px;
    transform: scale(2);
}

.control-panel {
    grid-area: control;
    display: none;
    flex: 1;
    box-sizing: border-box;
    border: solid 10px;
    background-color: #eee;
    flex-direction: column;
}
.control-panel.active { display: flex; }
#tank { border-color: var(--tank-color); }
#dps { border-color: var(--dps-color); }
#support { border-color: var(--support-color); }


.control-panel .rank {
    display: flex;
}

.control-panel .rank .rank-preview {
    width: 200px;
    height: 200px;
    min-width: 200px;
    position: relative;
    border: groove 5px;
    margin: 10px;
    background: radial-gradient(#eee, #333);
    overflow: hidden;
}

.control-panel .rank .rank-preview img {
    width: 300px;
    position: absolute;
    top: 0; left: 0;
    transform: translate(-50%, -50%) translate(100px, 100px);
    visibility: hidden;
}
.control-panel .rank .rank-preview img.active {
    visibility: visible;
}

.control-panel .rank .rank-quick-actions {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.control-panel .rank .rank-quick-actions button {
    flex: 1;
    line-height: 0.8em;
    font-size: 28px;
    background-color: white;
    border: groove 3px;
    cursor: pointer;
}

.control-panel .rank .rank-control {
    flex: 1;
    margin: 10px;
}

.control-panel .rank .rank-control fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    border: groove 3px;
}

.control-panel .rank .rank-control fieldset + fieldset {
    margin-top: 15px;
}

.control-panel .rank .rank-control legend {
    background-color: white;
    border: solid 1px;
    padding-inline: 10px;
}

.control-panel .rank .rank-control div, 
.control-panel .rank .rank-control div * {
    cursor: pointer;
}


.control-panel .score {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.control-panel .score .score-quick-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.control-panel .score .score-quick-actions:nth-of-type(n+2) {
    margin-top: 15px;
}

.control-panel .score .score-quick-actions button {
    flex: 1;
    font-size: 28px;
    background-color: white;
    border: solid 3px;
    border-radius: 10px;
    cursor: pointer;
}
.control-panel .score .score-quick-actions button:active {
    color: #ccc;
}
.control-panel .score .score-quick-actions button.score-quick-win-btn { border-color: red; }
.control-panel .score .score-quick-actions button.score-quick-lose-btn { border-color: blue; }
.control-panel .score .score-quick-actions button.score-quick-draw-btn { border-color: orange; }
.control-panel .score .score-quick-actions button.score-quick-qualify-btn {
    border-color: #333;
    flex-grow: 0;
    flex-basis: 300px;
}

.control-panel .score .score-quick-actions-footer {
    margin: 8px 0;
    text-align: end;
}

.control-panel .score .score-control section {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 32px;
}

.control-panel .score .score-control section span {
    margin: 0 8px;
}

.control-panel .score .score-control section input[type=number] {
    width: 3ch;
    margin-left: 5px;
    font-size: 32px;
}

.control-panel .score .score-control section:first-of-type {
    padding: 4px;
    border: double 5px #333;
    background-color: #fff;
}

.control-panel .score .score-control section:nth-of-type(n+2) {
    font-size: 24px;
    margin-top: 24px;
}

.control-panel .score .score-control section:nth-of-type(n+2) input[type=number] {
    width: 3ch;
    margin-left: 5px;
    font-size: 24px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.control-panel .score .score-footer {
    margin-top: auto;
}

.control-panel .score .score-footer .score-clear-all-btn {
    font-size: 1em;
    margin: 0 0.5ch;
    padding: 0.2ch 1ch;
    border-radius: 0;
    background-color: white;
    border: solid 2px;
    cursor: pointer;
}